html, body {
  height: 100%;
  background-color: #5c6670;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#navbar {
  z-index:200;
  color:#FFF;
  position:fixed;
  top:0;
  left:0;
  right:0;
}

.hover-icon {
  opacity: 0.5;
}

.hover-icon:hover {
  opacity: 1;
  cursor:pointer;
}

.file-list-name {
  float: left;
}

#nav-filename {
  width:500px;
  text-align: center;
}

#video-controls {
  width:100%;
  height:60px;
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  padding-left: 80px;
  color:#FFF;
}
.list-del-icon {
  float:right;
}

.v-control-icon, #frameCount {
  font-size: 40px;
  margin:10px;
}

#video-buttons {
  margin: 0 auto;
}
.tools li {
  padding:2px;
  font-size:35px;
}

.main-frame {
  position: relative;
  padding: 0px;
}

.main-frame img, .main-frame video, .main-framce canvas {
  position:absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  margin-left: -320px;
}

.list-group-item:hover {
  color: #007bff;
  cursor: pointer;
}

.file-active {
  background-color: #e6e6e6;
}

/*
 * Sidebar
 */

.toolbar {
  position: fixed;
  color: #FFF;
  top: 0;
  bottom: 0;
  left: 0;
  width:80px;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#options-window {
  position: fixed;
  top:80px;
  right:0;
  bottom:0;
  padding:0;
  max-width:300px;
}
.toolbar-sticky {
  position: relative;
  top: 0;
  height: 100%;
  text-align: center;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


/*Range Styling CSS */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width:600px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #FFF;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #FFF;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFF;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #FFF;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFF;
}
