<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">test_video.mp4</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>

<div class="main-frame">
  <img class="center-block" src="/static/images/sample.jpg">
</div>

<div class="video-controls">
  <form>
    <input type="range" class="form-control-range d-inline" id="formControlRange">
    <div class="form-group">
      <div class="btn-group btn-group-toggle col-md-4" data-toggle="buttons">
        <label class="btn btn-lg btn-secondary">
          <input type="radio" name="options" id="option1" autocomplete="off" checked>
          <i class="fas fa-stop"></i>&nbsp;&nbsp;Stop
        </label>
        <label class="btn btn-lg btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off">
          <i class="fas fa-play"></i>&nbsp;&nbsp;Play
        </label>
        <label class="btn btn-lg btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off">
          <i class="fas fa-pause"></i>&nbsp;&nbsp;Pause
        </label>
      </div>
    </div>
  </form>
</div>