<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navbar">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <a href="/" class="navbar-brand">Annotation Tool</a>
    </div>
    <div class="mx-auto order-0">
        {% if page == "annotate" %}
        <h5 id="nav-filename">No file loaded</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        {% if page == "annotate" %}
        <h5 class="ml-auto">Project: {{ project.name }}</h4>
        <button class="btn btn-success btn-sm ml-2 mb-1" id="saveDataBtn">Save Work</button>
        <input type="file" id="importDataForm" style="display: none;" />
        <button class="btn btn-primary btn-sm ml-2 mb-1" id="importDataBtn">Import JSON</button>
        <button class="btn btn-primary btn-sm ml-2 mb-1" id="exportDataBtn">Export Data</button>
        {% endif %}
    </div>
</nav>